resize {
    font-size: 16px;
    align-self: center;
    color: white;
}
body{
    background-color:forestgreen;
}
headin {
    font-family: fantasy;
    font-size: 16px;
    align-self: center;
    color: white;
}