.TI {
    background-color: forestgreen;
    color: white;
    align-self: center;
    text-align: center;
    padding: 5px;
}
.FT {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
}
.FS {
    order: 1;
}
.TC {
    order: 2;
}
.ana1 {
    display: flex;
    justify-content: center;
}
.leo {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
    border-width: 2px;
    border-style: solid
}
.ele {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
    border-width: 2px;
    border-style: solid
}
.gor{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
    border-width: 2px;
    border-style: solid
}
.ana2{
    display: flex;
    justify-content: center;
}
.vaq{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
    border-width: 2px;
    border-style: solid
}
.rhi{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
    border-width: 2px;
    border-style: solid
}
.sno{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
    border-width: 2px;
    border-style: solid
}
.mrg{
    background-color: forestgreen;
    color: white;
    align-self: center;
    text-align: center;
    padding: 2px;
}
body {
    font-family: Verdana, sans-serif;
}

h2 {
    color: #003E1F;
}
h3 {
    color: #053C5E;
    margin-bottom: 10px;
}
img {
    width: auto;
    height: 200px;
    border: 2px solid #003E1F;
}