body {
    background-color: saddlebrown;
}
h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: larger;
    color: floralwhite;
  }
.tiny {
    color:floralwhite;
  }
h2 {
    color: floralwhite;
}
p {
    color: floralwhite;
}